<section class="contact">
  <div class="contact-container">
    <h2 class="h3-heading h4-xs-heading">Contact us</h2>
    <p class="subtitle h5-heading h6-xs-heading">
      If you have any questions or need assistance, feel free to reach out to
      us. We are here to help you.
    </p>

    <form class="contact-form">
      <div class="input-group">
        <input type="text" placeholder="First name" required />
        <input type="text" placeholder="Last name" required />
      </div>
      <input type="email" placeholder="Enter your email address" required />
      <textarea
        placeholder="Enter your comment"
        maxlength="200"
        id="comment"
        [(ngModel)]="comment"
        name="comment"
      ></textarea>
      <div class="char-count">{{ comment.length }}/200</div>
      <button class="button primary s" type="submit">Submit request</button>
    </form>
  </div>
</section>
