<footer class="footer">
  <div class="footer-container">
    <!-- Left Section: Logo & Contact Info -->
    <div class="footer-left">
      <div class="logo">
        <img src="assets/icons/logo.svg" alt="Coinforge Logo" />
      </div>
      <p class="text-l w600 u-mar-bottom-16 address">
        Address: Poland, 76-200 Słupsk, Bukowa 1A m. 7
      </p>
      <p class="text-l w600">
        Email:
        <a class="email" href="mailto:info@coinforge.online"
          >info&#64;coinforge.online</a
        >
      </p>
    </div>

    <!-- Center Section: Navigation Links -->
    <div class="footer-center">
      <ul>
        <li><a routerLink="/home-page" class="h6-heading">Home</a></li>
        <li><a routerLink="/contact-page" class="h6-heading">Contact</a></li>
        <li><a routerLink="/about-us" class="h6-heading">About us</a></li>
      </ul>
    </div>

    <!-- Right Section: Social Media Icons -->
    <div class="footer-right">
      <a href="https://www.facebook.com/people/Coinforge/61561181250828/" target="_blank"><img src="/assets/icons/Facebook.svg"></a>
      <a href="https://www.instagram.com/coinforge.online/" target="_blank"><img src="/assets/icons/Instagram.svg"></a>
     
    </div>
  </div>

  <div class="footer-bottom">
    <hr />
    <div class="footer-bottom-text h5-heading">
      Coinforge.online 2025 All Rights Reserved.
    </div>
  </div>
  <!-- Bottom Section -->
</footer>

<!-- Font Awesome for Social Media Icons -->
<script
  src="https://kit.fontawesome.com/your-fontawesome-kit.js"
  crossorigin="anonymous"
></script>
