<div class="dashboard-container">
  <!-- Header Component -->

  <!-- Main Dashboard Content -->
  <div class="dashboard-content">
    <div class="dashboard-banner">
      <!-- <h1>Get Started with Our Secure Crypto Wallets Today!</h1> -->
      <!-- <img class="banner" > -->
    </div>

    <div class="top-section">
      <app-total-balance></app-total-balance>
      <app-wallets></app-wallets>
    </div>
  </div>

  <!-- Bottom Section with Market Info and Transactions -->
  <div class="bottom-section">
    <app-market-info></app-market-info>
    <app-transactions></app-transactions>
  </div>
</div>
