<div class="header">
  <div class="header-wrapper">
    <div class="header__logo">
      @if (configService.isMobile()) {
        <div class="mobile-menu-toggle u-mar-right-8">
          @if (!isMobileMenuOpened()) {
            <tui-icon icon="@tui.menu" (click)="mobileMenuToggle()"></tui-icon>
          } @else {
            <tui-icon icon="@tui.x" (click)="mobileMenuToggle()"></tui-icon>
          }
        </div>
      }
      <a routerLink="/home-page">
        <img
          src="/assets/icons/logo.svg"
          alt="Coinforge Logo"
          class="logo-img"
        />
      </a>
    </div>
    @if (!configService.isMobile()) {
      <nav class="header__nav">
        @for (link of activeLinks(); track link.label) {
          <a
            [routerLink]="link.routerLink"
            routerLinkActive="active"
            class="nav-link"
          >
            @if (link.icon) {
              <img [src]="link.icon" [alt]="link.label" class="nav-icon" />
            }
            {{ link.label }}
          </a>
        }
      </nav>
    }

    <div class="header__profile">
      @if (isHomePage()) {
        @if (this.authService.isAuthenticated$ | async) {
          <button class="button primary s" routerLink="/dashboard">
            Go to dashboard
          </button>
        } @else {
          <button class="button secondary s" routerLink="/auth/login">
            Sign in
          </button>
          <button class="button primary s" routerLink="/auth/sign-up">
            Sign up
          </button>
        }
      } @else {
        <button class="profile-icon" (click)="openUserProfile()">
          {{ abbreviate$ | async }}
        </button>
      }
    </div>
  </div>
</div>

@if (isMobileMenuOpened()) {
  <div class="mobile-menu-backdrop" (click)="isMobileMenuOpened.set(false)">
    <div class="mobile-menu-wrapper">
      <nav class="mobile-nav">
        @for (link of activeLinks(); track link.routerLink) {
          <a
            [routerLink]="link.routerLink"
            routerLinkActive="active"
            class="mobile-nav-link h6-heading"
          >
            @if (link.icon) {
              <img
                [src]="link.icon"
                [alt]="link.label"
                class="mobile-nav-icon"
              />
            }
            {{ link.label }}
          </a>
        }
      </nav>
    </div>
  </div>
}
