<div class="wrapper">
  <div class="h4-heading u-mar-bottom-24">Two-Factor Authentication (2FA)</div>
  <div class="info">
    <img src="assets/info-circle.svg" />
    <div class="info-text-wrapper">
      <div class="info-title text-sm w600">
        For extra layer of security, you can use 2FA.
      </div>
      <div class="info-subtitle text-xs w400">
        If you don't want to set up right now, you can skip it and set it up
        later.
      </div>
    </div>
  </div>
  <div class="illustration">
    <img src="assets/2_factor.png" alt="2FA illustration" />
  </div>
  <div class="buttons">
    <button
      class="setup-button button primary m"
      [disabled]="loading()"
      (click)="enable()"
    >
      Start 2FA set up
    </button>
    <!-- <button class="skip-button" (click)="discard()">Not now</button> -->
  </div>
</div>

@if (loading()) {
  <app-loader> </app-loader>
}
