:host {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 16px 0;
}

.left-side {
	display: flex;
	gap: 12px;
	align-items: center;
}

.info-wrapper .time {
	color: #b6b6b6;
}

.info-wrapper .status {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 12px;
	border-radius: 32px;
}
