<div class="hero">
  <div class="hero-content">
    <h1>Empower Your <br /><span>Financial Future</span></h1>
    <p class="text-l w600 w-xs-300">
      Join Coinforge today and explore a world of innovative blockchain
      solutions and cryptocurrency opportunities.
    </p>
    <button class="button primary s" routerLink="/contact-page">
      Contact us
    </button>
  </div>
  <div class="hero-images">
    <img src="assets/images/bitcoin2.png" alt="Bitcoin" class="coin bitcoin" />
    <img src="assets/images/polygon2.png" alt="Polygon" class="coin polygon" />
    <img
      src="assets/images/ethereum2.png"
      alt="Ethereum"
      class="coin ethereum"
    />
    <img src="assets/images/avax2.png" alt="Avalanche" class="coin avax" />
  </div>
</div>
<app-mission></app-mission>
<app-services-card></app-services-card>
<app-contact-us></app-contact-us>
