<div class="hero">
  <div class="hero-content">
    <h1>Own the <br /><span>Future of Money</span></h1>
    <p class="text-l w600 w-xs-300">
      Discover the Orionis ecosystem — a secure, user-first platform offering non-custodial wallets and clear market insights to help you take control of your digital assets.
    </p>
    <button class="button primary s" routerLink="/contact-page">
      Contact us
    </button>
  </div>
  <div class="hero-images"></div>
</div>
<app-mission></app-mission>
<app-services-card></app-services-card>
<app-contact-us></app-contact-us>
