<ul class="password-criteria">
  <li>
    <tui-icon
      [icon]="passwordCriteriaIcons().length"
      [style.color]="
        passwordCriteriaPassed().length ? 'var(--tui-status-positive)' : ''
      "
    ></tui-icon>
    <span class="text-xs w400">At least 6 characters</span>
  </li>
  <li>
    <tui-icon
      [icon]="passwordCriteriaIcons().uppercase"
      [style.color]="
        passwordCriteriaPassed().uppercase ? 'var(--tui-status-positive)' : ''
      "
    ></tui-icon>
    <span class="text-xs w400">One uppercase</span>
  </li>
  <li>
    <tui-icon
      [icon]="passwordCriteriaIcons().lowercase"
      [style.color]="
        passwordCriteriaPassed().lowercase ? 'var(--tui-status-positive)' : ''
      "
    ></tui-icon>
    <span class="text-xs w400">One lowercase</span>
  </li>
  <li>
    <tui-icon
      [icon]="passwordCriteriaIcons().number"
      [style.color]="
        passwordCriteriaPassed().number ? 'var(--tui-status-positive)' : ''
      "
    ></tui-icon>
    <span class="text-xs w400">One number</span>
  </li>
  <li>
    <tui-icon
      [icon]="passwordCriteriaIcons().char"
      [style.color]="
        passwordCriteriaPassed().char ? 'var(--tui-status-positive)' : ''
      "
    ></tui-icon>
    <span class="text-xs w400">One special case character (!#$ etc.)</span>
  </li>
</ul>
