:host {
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-self: stretch;
}

.left-side {
	display: flex;
	align-items: center;
	gap: 16px;
}

.left-side img {
	width: 40px;
	height: 40px;
}

.right-side {
	text-align: right;
}

.subtitle {
	color: #6f6f6f;
}

.subtitle.rate {
	text-wrap-mode: nowrap;
}
