.services {
  background: var(--Primary500, #1c1c1c);
  color: #fff;
  text-align: center;
  padding: 60px;
}

.h3-heading {
  color: white;
}

.subtitle {
  color: #ddd;
  margin-top: 24px;
  margin-bottom: 80px;
}

.services-container {
  max-width: 1360px;
  margin: 0 auto;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.service-card {
  background: transparent;
  border-radius: 10px;
  border: 3px solid var(--BG, #fedd2d);
  padding: 20px;
  transition: all 0.3s ease-in-out;

  h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    color: #ccc;
  }

  &:hover {
    background: rgba(254, 221, 45, 0.1);
    transform: translateY(-5px);
  }
}

@media only screen and (max-width: 575px) {
  .services {
    padding: 60px 16px;
  }

  .subtitle {
    margin-bottom: 32px;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }
}
