<section class="contact">
  <div class="contact-container">
    <div class="contact-content">
      <div class="h3-heading h4-xs-heading">Let’s Connect</div>
      <p class="subtitle h5-heading h6-xs-heading">
        Reach out with your questions or ideas — we are here to help. We would
        love to hear from you — just fill out the form and we will be in touch
        shortly.
      </p>

      <form class="contact-form">
        <div class="input-group">
          <input type="text" placeholder="First name" required />
          <input type="text" placeholder="Last name" required />
        </div>
        <input type="email" placeholder="Enter your email address" required />
        <button class="button primary s" type="submit">
          Submit Your Request
        </button>
      </form>
    </div>

    <div class="contact-image">
      <img src="assets/images/contact_us.png" alt="Crypto Orbit" />
    </div>
  </div>
</section>
