@if (phase() === "email") {
  <div class="h4-heading">Forgot password</div>

  <label tuiLabel class="mb-24">
    Email *
    <tui-input
      tuiAutoFocus
      [formControl]="email"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
    >
      <input tuiTextfieldLegacy inputmode="email" type="email" required />
    </tui-input>

    <tui-error
      [formControl]="email"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>

  <button
    class="button primary m u-mar-bottom-16"
    (click)="continue()"
    [disabled]="email.invalid"
  >
    Continue
  </button>
  <button class="button secondary m" (click)="backToSignIn()">
    Back to sign in
  </button>
} @else {
  <ng-container [formGroup]="formGroup">
    <div class="h4-heading">Set new password</div>

    <div class="subtitle text-sm w400 u-mar-bottom-24">
      Enter verification code we sent to the email address
      <span class="text-sm w600">{{ email.value }}</span
      >.
    </div>

    <app-otp-code-input
      class="u-mar-bottom-48"
      [(otpCode)]="otpCode"
      [length]="codeLength"
      [error]="!!errorMessage()"
      [disabled]="loading()"
    ></app-otp-code-input>

    @if (errorMessage()) {
      <div class="error-message">
        {{ errorMessage() }}
      </div>
    }

    <label tuiLabel class="mb-24">
      Password *
      <tui-textfield tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
        <input formControlName="password" tuiInputPassword />
      </tui-textfield>

      <tui-error
        formControlName="password"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>

    <label tuiLabel class="mb-24">
      Repeat Password *
      <tui-textfield tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
        <input formControlName="repeatPassword" tuiInputPassword />
      </tui-textfield>
      <tui-error
        formControlName="repeatPassword"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>

    <tui-error
      [formGroup]="formGroup"
      [error]="[] | tuiFieldError | async"
    ></tui-error>

    <app-password-criteria
      class="mb-48"
      [password]="formGroup.get('repeatPassword')?.getRawValue()"
    ></app-password-criteria>

    <button
      class="confirm-button button primary m mt-32"
      [class.secondary]="formGroup.invalid"
      [disabled]="isSaveDisabled()"
      (click)="save()"
    >
      Set password
    </button>
  </ng-container>
}

@if (loading()) {
  <app-loader></app-loader>
}
