:host {
	border-radius: 8px;
	display: block;
	max-width: 504px;
	width: 100%;
}

.button {
	width: 100%;
}
.tuiLabel {
	margin-bottom: 24px;
}
.title-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.h4-heading {
	margin-bottom: 48px;
}

.subtitle {
	color: #6f6f6f;
}

.subtitle > span {
	color: #272828;
}
