<section class="about">
  <div class="about-container">
    <div class="h3-heading h4-xs-heading">Welcome to <span>ORIONIS</span></div>

    <p class="subtitle h5-heading h6-xs-heading">
      Built for the New Era of Crypto
    </p>
    <p class="description text-l w600 w-xs-300">
      Take control of your digital assets with a secure, intuitive platform that
      simplifies crypto trading and wallet management — designed for real people
      in a decentralized world.
    </p>
  </div>

  <section class="mission">
    <div class="mission-container">
      <div class="mission-text">
        <div class="h4-heading">Our mission</div>
        <p class="text-l w600 w-xs-300">
          At Orionis, our mission is to make digital asset ownership simple,
          secure, and accessible to everyone, no matter their location,
          background, or experience. Our goal is to remove unnecessary barriers
          and create a seamless environment where anyone can trade crypto, store
          assets independently, and make confident decisions backed by clarity
          and performance. Orionis bridges the gap between traditional finance
          and the evolving blockchain economy with tools built for everyday
          users, not just tech insiders.
        </p>
      </div>
      <div class="mission-image"></div>
    </div>
  </section>
</section>
