.about {
  background: var(--Primary500, #1c1c1c);
  text-align: center;
  padding: 60px;
  color: #fff;

  .subtitle {
    color: var(--Neutral0, #fff);
    text-align: center;
    margin-bottom: 40px;
  }

  .description {
    color: var(--Neutral0, #fff);
    text-align: center;
    margin-bottom: 120px;
  }
}

.about-container {
  max-width: 1360px;
  margin: 0 auto;
}

.h3-heading {
  color: white;
}

.mission {
  border-radius: 10px;
  background: var(
    --bg,
    linear-gradient(242deg, #fedd2d 35.16%, #322c0c 159.67%)
  );
  max-width: 1360px;
  height: 400px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mission-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  width: 100%;
}

.mission-text {
  width: 620px;
  flex: 1;
  padding: 20px;
  color: #111;

  p {
    color: var(--Primary-text-color, #272828);

    strong {
      font-weight: 700;
    }
  }
}
.mission-image {
  flex: 1;
  text-align: right;

  img {
    max-width: 400px;
    height: auto;
  }
}

@media only screen and (max-width: 575px) {
  .about {
    padding: 16px;
    padding-top: 40px;
  }

  .about-container {
    padding: 0 16px;
  }

  .mission {
    height: unset;
  }

  .mission-container {
    flex-direction: column;
  }

  .mission-text {
    width: auto;
  }

  .mission-image {
    height: 300px;
  }
}
