<section class="about">
  <div class="about-container">
    <div class="h3-heading h4-xs-heading">
      Welcome to <span>COINFORGE</span>
    </div>

    <p class="subtitle h5-heading h6-xs-heading">
      Innovating the Future of Cryptocurrency
    </p>
    <p class="description text-l w600 w-xs-300">
      At Coinforge, we are dedicated to advancing the world of cryptocurrency
      through cutting-edge technology and innovative solutions. As a leader in
      the blockchain industry, we provide a comprehensive suite of services
      designed to empower individuals and businesses to navigate and thrive in
      the digital economy.
    </p>
  </div>

  <section class="mission">
    <div class="mission-container">
      <div class="mission-text">
        <div class="h4-heading">Our mission</div>
        <p class="text-l w600 w-xs-300">
          Our mission at Coinforge is to
          <strong>demystify cryptocurrency</strong> and
          <strong>make it accessible</strong> to everyone. We strive to create a
          <strong>secure, transparent, and user-friendly</strong> platform where
          users can confidently engage in cryptocurrency transactions and
          investments.
        </p>
      </div>
      <div class="mission-image">
        <img src="assets/images/mission.png" alt="Crypto Box" />
      </div>
    </div>
  </section>
</section>
