<div class="wrapper">
  <div class="left-side">
    <a routerLink="/home-page">
      <img
        src="/assets/icons/logo_black.png"
        alt="Coinforge Logo"
        class="logo-img"
      />
    </a>
    <h1>24/7 operations and services</h1>
    <p>
      It is a long established fact that a reader will be distracted by the
      readable.
    </p>
    <img class="sign-in-image" src="assets/sign-in-image.png" alt="Image" />
  </div>
  <div class="right-side">
    <a routerLink="/home-page" class="mobile-logo">
      <img
        src="/assets/icons/logo_black.png"
        alt="Coinforge Logo"
        class="mobile-logo-img"
      />
    </a>
    <router-outlet></router-outlet>
  </div>
</div>
