<div class="wrapper">
  <div class="left-side">
    <a routerLink="/home-page">
      <img
        src="/assets/icons/logo_dark.png"
        alt="Coinforge Logo"
        class="logo-img"
      />
    </a>
    <h1>Your crypto, always within reach</h1>
    <p>
      Access and manage your digital assets 24/7 — safely and securely.
    </p>
    
  </div>
  <div class="right-side">
    <a routerLink="/home-page" class="mobile-logo">
      <img
        src="/assets/icons/logo_black.png"
        alt="Coinforge Logo"
        class="mobile-logo-img"
      />
    </a>
    <router-outlet></router-outlet>
  </div>
</div>
