:host {
	display: block;
	width: 504px;
}
.button {
	flex-grow: 1;
}

.text {
	text-align: center;
	width: 305px;
	margin: 0 auto;
	margin-bottom: 32px;
}

@media only screen and (max-width: 575px) {
	:host {
		width: 100%;
	}
}