<div class="otp-inputs" #inputsWrapper>
  @for (val of otpCodeArray; track $index) {
    @if ($index === 0) {
      <input
        tuiAutoFocus
        [(ngModel)]="otpCodeArray[$index]"
        (ngModelChange)="onCodeChange()"
        maxlength="1"
        (keydown)="onKeydown($event, $index)"
        (keyup)="onFieldInput($event, $index)"
        id="otp-code-input-{{ $index }}"
        (paste)="onInputPaste(toClipboardEvent($event), $index)"
        [class.input-error]="error()"
        [disabled]="disabled()"
        inputmode="numeric"
        autocomplete="one-time-code" 
      />
    } @else {
      <input
        [(ngModel)]="otpCodeArray[$index]"
        (ngModelChange)="onCodeChange()"
        maxlength="1"
        (keydown)="onKeydown($event, $index)"
        (keyup)="onFieldInput($event, $index)"
        id="otp-code-input-{{ $index }}"
        (paste)="onInputPaste(toClipboardEvent($event), $index)"
        [disabled]="disabled()"
        [class.input-error]="error()"
        inputmode="numeric"
        autocomplete="one-time-code" 
      />
    }
  }
</div>
