:host {
	width: 465px;
	display: block;
}

.button {
	width: 100%;
}

.tuiLabel {
	margin-bottom: 24px;
}

.h4-heading {
	margin-bottom: 48px;
}

.subtitle {
	color: #6f6f6f;
}

.subtitle > span {
	color: #272828;
}
