<ng-container [formGroup]="formGroup">
  <div class="h4-heading">Set new password</div>

  <label tuiLabel class="mb-24">
    Password *
    <tui-textfield tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
      <input formControlName="password" tuiInputPassword />
    </tui-textfield>
  </label>

  <label tuiLabel class="mb-24">
    Repeat Password *
    <tui-textfield tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
      <input formControlName="repeatPassword" tuiInputPassword />
    </tui-textfield>
  </label>

  <app-password-criteria
    class="mb-48"
    [password]="formGroup.get('repeatPassword')?.getRawValue()"
  ></app-password-criteria>

  <button
    class="confirm-button button primary m mt-32"
    [class.secondary]="formGroup.invalid"
    [disabled]="formGroup.invalid"
    (click)="save()"
  >
    Set password
  </button>
</ng-container>
