:root {
  --primary800: rgba(0, 0, 0, 1);
  --primary700: rgba(14, 13, 13, 1);
  --primary600: rgba(28, 27, 27, 1);
  --primary300: rgba(81, 81, 81, 1);
  --primary200: rgba(104, 103, 103, 1);
  --primary100: rgba(141, 139, 139, 1);
  --primary50: rgba(183, 183, 183, 1);
  --secondary500: rgba(254, 221, 45, 1);
  --secondary600: rgba(254, 221, 45, 1);
  --secondary700: rgba(253, 197, 37, 1);
  --secondary800: rgba(251, 173, 29, 1);
  --primary500: rgba(28, 28, 28, 1);
  --primary400: rgba(51, 51, 51, 1);
  --primary-text-color: rgba(39, 40, 40, 1);
  --secondary-text-color: rgba(111, 111, 111, 1);
  --neutral500: rgba(101, 101, 108, 1);
  --neutral400: rgba(153, 153, 162, 1);
  --neutral300: #515151;
  --neutral200: rgba(224, 223, 223, 1);
  --neutral100: rgba(247, 247, 251, 1);
  --neutral0: rgba(255, 255, 255, 1);
  --system-color-red: rgba(231, 23, 11, 1);
  --system-color-light-red: rgba(255, 240, 240, 1);
  --system-color-green: rgba(60, 195, 131, 1);
  --system-color-light-green: rgba(233, 255, 244, 1);
  --system-color-yellow: rgba(246, 213, 35, 1);
  --system-color-light-yellow: rgba(255, 250, 223, 1);
  --system-color-blue: rgba(65, 102, 230, 1);
  --system-color-light-blue: rgba(65, 102, 230, 0.11999999731779099);
  --system-color-light-purple: rgba(236, 234, 239, 1);
  --system-color-light-gray: rgba(233, 233, 233, 1);
  --system-color-bg: rgba(249, 249, 249, 1);
  --secondary400: rgba(255, 243, 84, 1);
  --secondary300: rgba(255, 246, 116, 1);
  --secondary200: rgba(255, 248, 153, 1);
  --secondary100: rgba(255, 253, 194, 1);
  --secondary50: rgba(255, 255, 228, 1);
}