<div class="title h5-heading">OTP code</div>

<div class="subtitle u-mar-bottom-32 u-mar-top-16 text-sm w400">
  Enter OTP code displayed on your Authentication app
</div>

<app-otp-code-input
  [length]="6"
  [(otpCode)]="otpCode"
  [error]="!!errorMessage()"
  [disabled]="loading()"
></app-otp-code-input>

@if (errorMessage()) {
  <div class="message error">
    {{ errorMessage() }}
  </div>
}

<div class="hint text-sm w400 u-mar-bottom-24 u-mar-top-32 u-text-center">
  I want to recover Google Authentication code.
</div>

<div class="u-text-center">
  <button class="recover-btn" (click)="recover()">
    <span class="text-m w500">Recover code</span>
  </button>
</div>
